<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Date Time Picker</title>

    <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="../bower_components/jt.timepicker/jquery.timepicker.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../bower_components/jt.timepicker/jquery.timepicker.min.js"></script>
    <script src="../datetimepicker.js"></script>
</head>
<body ng-app="testDateTimePicker">

<datetimepicker ng-model="datetime"></datetimepicker>

Selected date time: {{datetime | date:'yyyy-MM-dd HH:mm:ss Z'}}

<datetimepicker ng-model="start"></datetimepicker>
<datetimepicker ng-model="end" pair-with="start"></datetimepicker>

<script>
    angular.module('testDateTimePicker', ['ui.datetimepicker']);
</script>

</body>
</html>
