<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Date Time Picker</title>

    <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="../bower_components/jt.timepicker/jquery.timepicker.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../bower_components/jt.timepicker/jquery.timepicker.min.js"></script>
    <script src="../datetimepicker.js"></script>
</head>
<body ng-app="testDateTimePicker" ng-controller="ExampleCtrl">

<h3>Single input</h3>
<datetimepicker ng-model="datetime" enabled-date="enabledDate" enabled-time="enabledTime" visible-date="visibleDate" visible-time="visibleTime" reversed="reversed"></datetimepicker>
Selected date time: {{datetime | date: 'yyyy-MM-dd HH:mm:ss Z'}}
<br/>
<input type="checkbox" ng-model="enabledDate"/>Enabled Date Picker
<br/>
<input type="checkbox" ng-model="enabledTime"/>Enabled Time Picker
<br/>
<input type="checkbox" ng-model="visibleDate"/>Visible Date Picker
<br/>
<input type="checkbox" ng-model="visibleTime"/>Visible Time Picker
<br/>
<input type="checkbox" ng-model="reversed"/>Reversed


<h3>Paired inputs</h3>
<datetimepicker ng-model="start"></datetimepicker>
<datetimepicker ng-model="end" pair-with="start"></datetimepicker>
Selected range: {{start | date: 'yyyy-MM-dd HH:mm:ss Z'}} - {{end | date: 'yyyy-MM-dd HH:mm:ss Z'}}

<script>
    angular.module('testDateTimePicker', ['ui.datetimepicker'])
            .controller('ExampleCtrl', function($scope) {
                $scope.enabledDate = true;
                $scope.enabledTime = true;
                $scope.visibleDate = true;
                $scope.visibleTime = true;
                $scope.reversed = false;
            });
</script>

</body>
</html>
